@media only screen and(min-width:200px) and (max-width:575px){
    header{
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
        gap:15px;
    }
    .nav-logo{
        justify-content: center;
    }
    .logo{
        padding: 10px;
    }
    .address{
        padding: 10px;
    }
    .address p{
        font-size: 12px;
    }
    .address h3{
        font-size: 15px;
    }
    .search button{
        padding: 10px;
    }
    .login{
        position: fixed;
        width: 100%;
        margin-right: 0px;
        justify-content: center;
        bottom:0px;
    }
    .orderBanner{
        padding: 10px;
        flex-direction: column;

    }
    .productSection{
        padding: 30px 10px;
    }
    .categoryProduct{
        flex-basis: 25%;
    }
    .productItems{
        flex-basis: 49%;
    }
    footer{
        padding-top: 0px;
    }
    .footer-mid-row-1{
        padding: 10px;
        flex-direction:column;
    }
    .footer-mid-row2{
        flex-direction: column;
        gap:20px
    }
    .footer-mid-row3{
        padding: 0px 10px;
    }

}